@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-900 antialiased;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    letter-spacing: -0.02em;
  }
}

